body {
    margin: 0;
    padding: 0;
    background-color:#191a1a;
}

.nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #D5CABD;
    background-color:rgb(232, 53, 53);
}

.navbar-brand{
    cursor: pointer;
    color: #fff;
    font-weight: 800;
    font-size: 1.25rem;
    text-decoration: none;}
/* }
@media only screen and(max-width:991px){
    
.nav-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.nav-link:hover {
    color: #D5CABD;
    background-color:rgb(232, 53, 53);
    display: block;
}

.navbar-brand{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
}

} */
.image{
    border-radius:50% ;
    
}
